<template id="geheim">
    <style>
        p {
            color: slateblue;
        }
    </style>
    <p>Norman <span>inkognito</span></p>
</template>
<script>
    var proto = Object.create(HTMLElement.prototype, {
        createdCallback: {
            value: function() {
                var tpl = document.querySelector("link").import.querySelector("#geheim");
                var clone = tpl.content.cloneNode(true);
                this.createShadowRoot().appendChild(clone);
            }
        }
    });
    document.registerElement("nwe-magic", {prototype: proto});
</script>
