#intro {
	/*background: rgba(0,0,0,.7);*/
    background: url(img/DSCF2001.jpg) bottom;
    background-size: cover;
    background-repeat: no-repeat;
	padding: 0;
	border: 0;
}

#intro h1 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    background: rgba(0,0,0,.5);
	padding: 4% 10% 0;
    text-shadow: .03em .03em hsl(354, 94%, 56%),
    .06em .06em hsl(233, 35%, 50%);}

#intro .attribution {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 200;
	text-align: center;
	font-size: 80%;
	line-height: .4;
	text-shadow: none;
    background: rgba(0,0,0,.4);
	padding:.6em 0 0;
	overflow: hidden;
}

#intro .attribution .author-name {
	color: hsl(233, 35%, 50%);
}

#intro .attribution .author-company {
	color: hsl(354, 94%, 56%);
    padding-left: 1.5em;
}


#css-controls-demo label {
	padding-top: 1em;
}

.change, .todo {
    color: #ffaa00 !important;
}

#intro-image {
}